#book {
    margin-top: 150px;      
}
.subtitle {    
    text-align: center;     
    svg {
        width: 50px;
        height: 50px;            
    }    
    p {
        font: var(--body-md);
    }
}
.book__kit {                
    margin-top: 100px;      
    position: relative;
    left: -15px;
    & .blur {   
        width: 298px;               
        height: 298px;
        background: var(--pink-low);
        filter: blur(103.2258071899414px);        
    }
    figcaption {
        font-size: 10px;
        color: var(--text-body);
    }
}  
.container__pin {    
    transform: translate(10px, 60px);
    .pin__arrow {             
        & > img {                                
            width: 35.29px;
            height: 42.75px;                    
            transform: translate(-15px, 20px);
        }
        figcaption {                    
            transform: translate(-25px, 10px);                        
        }
    }                    
    .pin {
        width: 74.89px;                 
        height: 85.4px;        
        rotate: -9deg;                                        
    }
}
.arrow__book {
    transform: translate(-62px, -110px);    
    & > img {
        width: 58.74px;
        height: 10.1px;    
    }
    figcaption {
        transform: translate(-30px, -3px);
    }
}
.container__bookmarks {
    position: relative;                        
    top: -90px;
    left: 28px;            
    .bookmark {
        width: 58.4px;   
        height: 180.92px;
        position: absolute;                
    }
    .bookmark__y {
        rotate: 10deg;
    } 
    .bookmark__p {                
        top: 30px;
        left: 35px;
        rotate: 18deg;
    }
    .arrow__bookmark {
        transform: translate(25px, 198px);
        & > img {
            width: 48.96px;
            height: 50.99px;
        }        
        figcaption {
            transform: translate(-50px, 5px);
        }
    }
}
.book {
    width: 157.19px;            
    height: 207.68px;    
    position: absolute;
    z-index: 1;
}