.hidden {
    display: none;
}
.flex {
    display: flex;    
}
.f-a-center {
    align-items: center;
}
.f-j-center {
    justify-content: center;
}
.f-d-column {
    flex-direction: column;
}
.blur {
    display: inline-block;    
    opacity: .5;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}